@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.app {
}

button {
  border-style: none;
  margin: 5px;
  background: #333333;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.app .result #result{
  margin-top: 30px;
  margin-left: 212px;
  font-size: 35px;
}

.app .button .top {
  background: #707070;
}

.app .button .side {
  background: #ffab01;
}

.app .button .zero {
  width: 116px;
  border-radius: 25px;
}
